@import "./node_modules/bootstrap/scss/bootstrap";

.card {
  border: 0 !important;
}

.position-absolute-center {
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}

.icon-w-xs {
  width: 1.9125rem !important;
}

.icon-h-xs {
  height: 1.9125rem !important;
}

.icon-w-sm {
  width: 2.35rem !important;
}

.icon-h-sm {
  height: 2.35rem !important;
}

.icon-w-md {
  width: 2.975rem !important;
}

.icon-h-md {
  height: 2.975rem !important;
}

.icon-w-lg {
  width: 5rem !important;
}

.icon-h-lg {
  height: 5rem !important;
}

.max-w-xs {
  max-width: 16rem !important;
}

.max-h-xs {
  max-height: 16rem !important;
}

.max-w-sm {
  max-width: 20rem !important;
}

.max-h-sm {
  max-height: 20rem !important;
}

.max-w-md {
  max-width: 24rem !important;
}

.max-h-md {
  max-height: 24rem !important;
}

.max-w-lg {
  max-width: 28rem !important;
}

.max-h-lg {
  max-height: 28rem !important;
}

.max-w-xl {
  max-width: 32rem !important;
}

.max-h-xl {
  max-height: 32rem !important;
}
